
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="e-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<style>
	.footer {
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 100px;
    background-color: #aaaaf5;
	text-align: center;
	}
	
	.container .text-muted {
    margin: 20px 0;
    }


	
	
	</style>
	
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MapSense</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" target="_self">Home</a></li>
            <li><a href="/new/dataset" target="_self">DataSet</a></li>
            <li><a href="#" target="_self">StyleSet</a></li>
            <li><a href="#" target="_self">MapSet</a></li>
          </ul>
        </div>

		

        <div class="col-sm-7 col-sm-offset-1 main">
          <h1 class="page-header"> Home </h1>
		  
		  <div class="row placeholder">
		   <div class="col-sm-1">
		   </div>
		   <div class="col-sm-7"  style="background-color:#DCDCDC;height:280px;">
		   
              <h4>数据集</h4>
			</br>  
              <span class="text-muted"> The prototype implementation shows the method is able to provide one-way delay values with microsecond precision on a steady load. Direct application of the method to each data flow in the network is straightforward, but can cause excessive hardware utilization. Thus, the paper proposes an algorithm to improve it by decomposing global end-to-end estimations into the set local ones whereas removing their redundancy. The algorithm makes it practically possible to monitor delay of each data flow in real-time. </span>
			     <p><a href="#" class="btn btn-primary" role="button">Button</a>
    				<a href="#" class="btn btn-default" role="button">Button</a>
				</p>

		   </div>

            <div class="col-sm-4 placeholder" style="background-color:#DCDCDC;height:280px;text-align:center"">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
        
            </div>
         </div>
         
		 <div class="row placeholder" >
			<div class="col-sm-1">
		    </div>
            <div class="col-sm-7" style="background-color:#DCDCDC;height:280px">
             <h4>样式集</h4>
			  </br>  
              <span class="text-muted"> The prototype implementation shows the method is able to provide one-way delay values with microsecond precision on a steady load. Direct application of the method to each data flow in the network is straightforward, but can cause excessive hardware utilization. Thus, the paper proposes an algorithm to improve it by decomposing global end-to-end estimations into the set local ones whereas removing their redundancy. The algorithm makes it practically possible to monitor delay of each data flow in real-time. </span>
			     <p><a href="#" class="btn btn-primary" role="button">Button</a>
    				<a href="#" class="btn btn-default" role="button">Button</a>
				</p>

		   </div>

            <div class="col-sm-4 placeholder" style="background-color:#DCDCDC;height:280px;text-align:center">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
        
            </div>
         </div>
		
		<div class="row placeholder" >
		
			<div class="col-sm-1">
		   </div>

            <div class="col-sm-7" style="background-color:#DCDCDC;height:280px">
              <h4>地图集</h4>
			  
              <span class="text-muted"> The prototype implementation shows the method is able to provide one-way delay values with microsecond precision on a steady load. Direct application of the method to each data flow in the network is straightforward, but can cause excessive hardware utilization. Thus, the paper proposes an algorithm to improve it by decomposing global end-to-end estimations into the set local ones whereas removing their redundancy. The algorithm makes it practically possible to monitor delay of each data flow in real-time. </span>
			     <p><a href="#" class="btn btn-primary" role="button">Button</a>
    				<a href="#" class="btn btn-default" role="button">Button</a>
				</p>

		   </div>

            <div class="col-sm-4 placeholder" style="background-color:#DCDCDC;height:280px;text-align:center">
			</br>
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
        
            </div>
         </div> 
		 

        </div>

		
	
		<div class="col-sm-4" >
					<div class="row">
						
						<div class="col-sm-2" style="border:1px">

					   </div>
					   <!--style="text-align:center;"-->
					   <div class="col-sm-8" >
						<h5 class="page-header"> Account </h5>
						
						Hello, {{request.session.user}}! Welcome to the MapSense!  </br></br>
						
						<img src="/static/images/touxiang.jpg" alt="..." class="img-rounded" style="width:120px;height:120px;"> </br></br>
					    <button type="button" class="btn btn-primary">主页</button>
					   </div>
					   
					   <div class="col-sm-2">
				
					   </div>
					</div>
					

									<div class="row">
						
						<div class="col-sm-2" style="border:1px">
					   
					
					   </div>
					   
					   <div class="col-sm-8">
						<h5 class="page-header"> Help </h5>
						<a href="#"> How to use DataSet！ </a> </br>
						<a href="#"> How to use DataSet！ </a> </br>
						<a href="#"> How to use DataSet！ </a>  </br>
						<a href="#"> How to use DataSet！ </a> </br>
						<a href="#"> How to use DataSet！ </a> </br>
						<a href="#"> How to use DataSet！ </a>  </br>
						<a href="#"> How to use DataSet！ </a> </br>
						<a href="#"> How to use DataSet！ </a> </br>
						<a href="#"> How to use DataSet！ </a>  </br>
						
					   </div>
					   
					   <div class="col-sm-2">
					   
					
					   </div>
					</div>
					
   
						<div class="row">
						
						<div class="col-sm-2" style="border:1px">
					   
					
					   </div>
					   
					   <div class="col-sm-8">
						<h5 class="page-header"> Blog </h5>
						<h6> zhang </h6>
						 Bring your maps to life with Runtime Styling on mobile</br>
						<h6> wang </h6>
						Bring your maps to life with Runtime Styling on mobile</br>
						<h6> zhao </h6>
						Bring your maps to life with Runtime Styling on mobile</br>
						
						</br>
					   </div>
					   
					   <div class="col-sm-2">
					   
					
					   </div>
					</div>
					
      </div> 
       </div>
    </div>
	</div>

	
   <div class="footer">
      <div class="container">
        <p class="text-muted">版权所有：吉林大学计算机科学与技术学院 </br></br>  电话：12233334444     邮箱：sdfj@gmai.com.cn </p>
	
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
