<html>

<title>
	 	Success ! 
</title>
<head>

</head>

	<body>
		Executing！
		
		
	<form method="post"  name="loginform" id="loginform"  action="/project/">
      Project Name: <input type="text" name="projectname" placeholder="projectname" required="required" /></br>
      DataBase IP:<input type="text" name="dbip" placeholder="databaseip" required="required" /></br>
      DataBase User:<input type="text" name="dbuser" placeholder="databaseuser" required="required" /></br>
      DataBase Password:<input type="text" name="dbpwd" placeholder="databasepwd" required="required" /></br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button></br>
    </form>
    
	</body>
</html>