<html>

<title>
	 
</title>
<head>

</head>

	<body>
		 This is a haha!
		 
		<form method="post" name="loginform" id="loginform" action="/testanddel/" enctype="multipart/form-data">
			
			<input type="hidden" value="typevalue" name="hiddenvalue">
			111:<input name="name"> </input> </br>
			222:<input name="pwd">  </input> </br>
			Image:<input name="img1" type="file"/> </br>

	   ---------------------------------------------------------------------------</br>
	
	      111:<input name="name"> </input> </br>
			222:<input name="pwd">  </input> </br>
			Image:<input name="img1" type="file"/> </br>
	
	----------------------------------------------------------------------</br>
	
		   111:<input name="name"> </input> </br>
			222:<input name="pwd">  </input> </br>
			Image:<input name="img1" type="file"/> </br>
			
			<input type="submit" value="tijiao" > </input>
	   
	   </form>
		 
	</body>
</html>